[submodule "Assets/bitnaughts.assets"]
	path = Assets/bitnaughts.assets
	url = https://github.com/bitnaughts/bitnaughts.assets.git
[submodule "Assets/bitnaughts.ui.ux"]
	path = Assets/bitnaughts.ui.ux
	url = https://github.com/bitnaughts/bitnaughts.ui.ux.git
[submodule "Assets/bitnaughts.components"]
	path = Assets/bitnaughts.components
	url = https://github.com/bitnaughts/bitnaughts.components.git
[submodule "Assets/bitnaughts.mainframe.client"]
	path = Assets/bitnaughts.mainframe.client
	url = https://github.com/bitnaughts/bitnaughts.mainframe.client.git
[submodule "Assets/WebGLNativeInputField"]
	path = Assets/WebGLNativeInputField
	url = https://github.com/bitnaughts/WebGLNativeInputField.git
[submodule "Assets/csharp.interpreter"]
	path = Assets/csharp.interpreter
	url = https://github.com/bitnaughts/csharp.interpreter.git
