[submodule "Assets/bitnaughts.modules"]
	path = Assets/bitnaughts.modules
	url = https://github.com/bitnaughts/bitnaughts.modules.git
[submodule "Assets/bitnaughts"]
	path = Assets/bitnaughts
	url = https://github.com/bitnaughts/bitnaughts.git
[submodule "Assets/bitnaughts.multiplayer.client"]
	path = Assets/bitnaughts.multiplayer.client
	url = https://github.com/bitnaughts/bitnaughts.multiplayer.client.git
[submodule "Assets/bitnaughts.ui.ux"]
	path = Assets/bitnaughts.ui.ux
	url = https://github.com/bitnaughts/bitnaughts.ui.ux.git
[submodule "Assets/bitnaughts.interpreter"]
	path = Assets/bitnaughts.interpreter
	url = https://github.com/bitnaughts/bitnaughts.interpreter.git
